<div class="container">
  <h1>Chat</h1>
  <form id="chatForm" class="form-group">
    <div class="input-group mb-3">
      <input
        id="chat-input"
        type="text"
        class="form-control"
        placeholder="Enter message"
        aria-label="Enter message"
        aria-describedby="message"
      />
      <button class="input-group-append btn btn-primary" id="message">
        Send
      </button>
    </div>
  </form>
  <div
    id="chat"
    style="min-height: 400px; min-width: 400px; border: 1px solid #ced4da;"
  ></div>
</div>
