<h1>Sorry, our application is taking a nap!</h1>
<p>Error-Code: <%= error %></p>


  <div
    class="jumbotron jumbotron-fluid shadow-lg col-lg-10 mx-auto"
    style="background-color: white; border-radius: 10px;"
  >
    <div class="container">
      <div class="row">
        <div
          class="d-flex justify-content-center col-xs-12 col-md-6"
          style="height: 100%;"
        >
          <img
            src="https://source.unsplash.com/600x500/?sleeping cat"
            alt=""
            class="img-fluid rounded"
          />
        </div>
        <div class="col-xs-12 col-md-6">
          <p>Error-Code: <%= error %></p>
          <h2>Sorry, our application is taking a nap!</h2>
        </div>
      </div>
    </div>
  </div>

