<div
  class="jumbotron jumbotron-fluid shadow-lg col-lg-10 mx-auto"
  style="background-color: white; border-radius: 10px;"
>
  <div class="container">
    <div class="row">
      <div
        class="d-flex justify-content-center col-xs-12 col-md-6"
        style="height: 100%;"
      >
        <img
          src="https://source.unsplash.com/600x500/?cuisine"
          alt=""
          class="img-fluid rounded"
        />
      </div>
      <div class="col-xs-12 col-md-6">
        <h2 class="display-4">Confetti Cuisine</h2>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
          consequuntur esse veniam reprehenderit tempora aliquid molestiae modi
          numquam iste nihil ea aperiam distinctio libero accusantium vel, rem
          magnam rerum. Reiciendis. Atque nulla modi dolor ea blanditiis!
          Placeat inventore unde soluta consequatur odit ab, impedit fugit
          dolorum voluptatem, iste sed id doloribus animi aliquam reiciendis ex
          voluptatum corrupti sunt, numquam voluptates.
        </p>
      </div>
    </div>
  </div>
</div>
